body {
    font-family: 'Courier New', Courier, monospace;
    background-color: linen;
    
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 52px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: bisque;
    float: left;
    justify-content: center;
    transition-duration: 0.4s;
    width: 33%;
    padding: 7.5px;
    border: 0;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(244, 189, 122);
    color: rgb(0,0,0);
}

button:first-child {
    border-radius: 8px 0 0 8px;
}

button:last-child {
    border-radius: 0px 8px 8px 0;
}

main.head {
    background-color: rgb(244, 189, 122);
    padding: 36px;
    margin: -.55em;
    border: 10px ridge black;
}

img {
    height: 500px;
    width: auto;
    display: block;
    margin: 70px auto;
    padding: 0;
    border: 10px ridge black;
}
