* {
    font-family: 'Courier New', Courier, monospace;
}

* {
    background-color: linen;
}

img{
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color: bisque;
    color: black;
    font-size: 16px;
    font-weight: bold;
    float: left;
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(244, 189, 122);
    color: rgb(0,0,0);
}

.head{
    text-align: center;
    font-weight: bold;
}